@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply bg-[#0a0a0a] text-[#e0e0e0]; */

    overflow-x: hidden;
}

h1,
h2,
h3,

.serif {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
}

.panel {
    will-change: transform;
}

/* Premium Text Reveal Utility */
.clip-text {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.animated-border {
    position: relative;
    padding: 2px;
    border-radius: 10px;
    overflow: hidden;
}

.animated-border::before {
    content: "";
    position: absolute;
    inset: -150%;
    background: conic-gradient(transparent 0deg,
            transparent 260deg,
            #CF2632 280deg,
            #CF2632 300deg,
            transparent 320deg);
    animation: rotateBorder 8s linear infinite;
}

.inner-content {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    z-index: 2;
}

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}