@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply bg-[#0a0a0a] text-[#e0e0e0]; */

    overflow-x: hidden;
}

h1,
h2,
h3,
.serif {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
}

.panel {
    will-change: transform;
}

/* Premium Text Reveal Utility */
.clip-text {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}